.main-content {
  background-image: url(./weather-icons/sky-and-clouds-1-1388641.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.forecast-items {
}
.search-input {
  width: 50% !important;
  margin: auto !important;
}

.weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.speartion {
  height: 180px;
}

.fav-icon:hover {
  cursor: pointer;
}
